.banner-bg{
    background-image: url(../../assets/images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.makeAppointment-bg{
    background-image: url(../../assets/images/appointment.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}